application/src/test/resources/xsd/simple_example.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MyRootElement" type="MyRootElementComplexType"/>

    <xs:complexType name="MyRootElementComplexType">
        <xs:sequence>
            <xs:element name="FirstChildElement" type="xs:string"/>
            <xs:element name="SecondChildElement" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>